.color {
  border: 1px solid black;
  display: inline-block;
  width: 80px;
  min-height: 80px;
  margin-right: 10px;
}

.black {
  background-color: black;
}

.pink {
  background-color: lightpink;
}

.purple {
  background-color: violet;
}

.blue {
  background-color: lightblue;
}

.linha {
  line-height: 0;
}

.pixel {
  display: inline-block;
  border: 1px solid black;
  width: 40px;
  min-height: 40px;
  background-color: white;
}

#clear-board {
  background-color: rgb(227, 231, 231);
  border-radius: 15px;
}

#board-size {
  width: 30px;
}

#generate-board {
  background-color: rgb(185, 253, 185);
  border-radius: 15px;
}
